server:
  port: 8081
spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: ${novel.datasource.driver-class-name}
    url: jdbc:mysql://${novel.datasource.host}:${novel.datasource.port}/${novel.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${novel.datasource.username}
    password: ${novel.datasource.password}

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  elasticsearch:
    # 是否开启 elasticsearch 搜索引擎功能：true-开启 false-不开启
    enable: false
  servlet:
    multipart:
      max-file-size: 1MB # 最大单个文件大小
      max-request-size: 2MB # 最大请求总大小(包括所有文件和表单数据)
logging:
  level:
    com:
      sky:
        mapper: debug
        service: info
        controller: info
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: token
  # token 有效期（单位：秒） 默认3h，-1 代表永久有效
  timeout: 10800
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  is-share: true
  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  token-style: uuid

jimmer:
  dialect: org.babyfish.jimmer.sql.dialect.MySqlDialect
  show-sql: false
  pretty-sql: false
  database-validation-mode: ERROR
  openapi:
    path: /openapi.yml       # OpenAPI规范文件地址
    ui-path: /openapi.html   # 可视化文档页面地址

  client:
    ts:
      path: /ts.zip

springdoc:
  # 默认是false，需要设置为true
  default-flat-param-object: true